<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<!--<p>employees works!</p>-->

<!--Lepiej jeśli to będzie lista użytkowników, niż pracowników ze względu na uprawnienia-->


<div class="container">
  <div class="jumbotron">
    <h1>Aquapark</h1>
    <h2>Lista użytkowników</h2>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">Użytkownicy</div>
    <div class="panel-body">
      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center"   *ngFor="let user of users._embedded.users">
            <h4>
              {{"Nazwa użytkownika: "}}
              {{user.userName}}
              <br>
              {{"Użytkownik: "}}
              {{user.lastName}}
              {{" "}}
              {{user.firstName}}
              <br>
              {{"Nr PESEL: "}}
              {{user.pesel}}
<!--              Coś w tym stylu by się przydało poniżej w toUserDetails-->
<!--              {{user._links.self.href}}-->
              <button (click)="toUserDetails()" mat-raised-button color="warn">Szczegóły</button>
              <!--              Niestety nie mogę/nie potrafię zrobić po prostu toUserDetails(user.id), czy czegoś w tym stylu-->
            </h4>
          </li>
          <br>
        </ul>
      </div>
    </div>
  </div>
</div>
