<mat-toolbar color="primary">
  <span>
    <mat-icon>pool</mat-icon>
    Aquapark Maintenance App
  </span>

  <div class="position"></div>
  <a mat-button routerLink="homepage">Strona główna</a>
  <a mat-button routerLink="visitpage">Lista wizyt</a>
  <a mat-button routerLink="employees">Lista pracowników</a>
  <a mat-button routerLink="visitadd">Dodawanie wizyty</a>
  <a mat-button routerLink="price">Zmiana cennika</a>
  <a mat-raised-button color="warn" routerLink="signin">Logowanie</a>

</mat-toolbar>
<!--<p>navbar works!</p>-->
