<!--<p>price-change works!</p>-->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<!--<p>visits works!</p>-->

<div class="container">
  <div class="jumbotron text-center">
    <div class="panel-body">
      <h1>Aquapark</h1>
      <div class="col-md-12 d-flex row justify-content-center">
        <h2>Dodawanie nowego użytkownika</h2>

        <input type="text" class="form-control" id="nr1" name="nr1" [(ngModel)]="name" placeholder="Imię">
        <input type="text" class="form-control" id="nr2" name="nr2" [(ngModel)]="surname" placeholder="Nazwisko">
        <input type="text" class="form-control" id="nr3" name="nr2" [(ngModel)]="pesel" placeholder="Nr PESEL">
        <input list="browsers" class="form-control" name="browser" id="browser" placeholder="Płeć"  [(ngModel)]="gender">
        <datalist id="browsers">
          <option value="Mężczyzna">
          <option value="Kobieta">
          <option value="N/A">
        </datalist>
        <input type="text" class="form-control" id="nr5" name="nr2" [(ngModel)]="address" placeholder="Adres">
        <input type="text" class="form-control" id="nr6" name="nr2" [(ngModel)]="contactNumber" placeholder="Nr telefonu">
        <input type="text" class="form-control" id="nr7" name="nr2" [(ngModel)]="userName" placeholder="Login użytkownika">
        <input type="text" class="form-control" id="nr8" name="nr2" [(ngModel)]="password" placeholder="Hasło">
        <input type="text" class="form-control" id="nr9" name="nr2" [(ngModel)]="birthDate" placeholder="Data urodzenia">
        <input type="text" class="form-control" id="nr10" name="nr2" [(ngModel)]="otherInformation" placeholder="Dodatkowe informacje">
        <br>
        <br>
        <br>
        <button (click)="submit()" mat-raised-button color="warn">Dodaj</button>
      </div>
    </div>
  </div>
</div>
