<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<!--<p>visits works!</p>-->

<div class="container">
  <div class="jumbotron">
    <h1>Aquapark</h1>
    <h2>Lista wizyt</h2>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">Wizyty</div>
    <div class="panel-body">
      <h3>{{"Przerobić na listę wizyt - napis jest w pliku visits.components.html"}}</h3>

      <div class="col-md-6">
        <h2>Lista wizyt</h2>
        <ul class="list-group">
          <!--*ngFor-em zrobić, gdy baza będzie ok-->
<!--          <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let visit of visits"> - nie trzeba wtedy klasy ustawiać osobno -->
<!--          <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let visit of visits">-->
<!--            {{visit.visitId}}-->
<!--            {{" Klient: "}}-->
<!--            {{visit.user.userId}}-->
<!--            {{visit.user.firstName}}-->
<!--            {{visit.user.lastName}}-->
<!--          </li>-->
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Wizyta nr 1
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Wizyta nr 2
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Wizyta nr 3
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Wizyta nr 4
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Wizyta nr 5
          </li>
          <br>
          <h4>
            Jeśli zadziała baza, to elementy z niej zostaną wyświetlone w postaci listy. Przy każdej wizycie można dodać przycisk do przechodzenia do szczegółów wizyty
          </h4>
<!--          <button (click)="toHomepage()" class="btn btn-danger">Strona główna</button>-->
          <button class="btn btn-danger mt-4" (click)="toHomepage()">Strona główna</button>
        </ul>
      </div>
    </div>
  </div>
</div>
